## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
# For example:
# sdk.dir=/Users/username/Library/Android/sdk
# or on Linux:
# sdk.dir=/home/username/Android/Sdk
# or on Windows:
# sdk.dir=C\:\\Users\\username\\AppData\\Local\\Android\\Sdk
sdk.dir=/path/to/android/sdk
